# Cleaning the datasets
Clean up the datasets related to education (school)

In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# Import on track year 12 survey 
df1 = pd.read_csv('dv239-onorackoyear12orequivcomp2016.csv')

In [3]:
# Upper case for easier matching with other datasets
df1['EDUCATION SECTOR'] = df1['EDUCATION SECTOR'].str.upper()

In [4]:
# Drop the adult sector for consistency in sectors (for use with the VCAA dataset)
df1 = df1.loc[df1['EDUCATION SECTOR'] != 'ADULT']

In [5]:
df1.head()

,STUDENT ID,DET_Region,METRO/NON-METRO,EDUCATION SECTOR,LOCAL GOVERNMENT AREA,SEX,STUDY STRAND,SES quartile (student residence),Country_of_birth,LOTE SPOKEN AT HOME,DESTINATION,DESTINATION (including deferrals)
0,1,SOUTH-EASTERN VICTORIA,Metropolitan,GOVERNMENT,Frankston,F,VCE non-VET,Lower-middle,,,Employed,Deferred
1,2,NORTH-EASTERN VICTORIA,Non-Metropolitan,INDEPENDENT,Moira,F,VCE non-VET,Lowest,,,Apprenticeship/traineeship,Apprenticeship/traineeship
2,3,NORTH-WESTERN VICTORIA,Metropolitan,GOVERNMENT,Banyule,M,VCE non-VET,Lower-middle,,,NILFET,Deferred
3,4,SOUTH-WESTERN VICTORIA,Metropolitan,GOVERNMENT,Wyndham,F,VCE VET,Lowest,,,Certificates/diplomas,Certificates/diplomas
4,5,SOUTH-WESTERN VICTORIA,Non-Metropolitan,INDEPENDENT,Greater Geelong,F,VCE non-VET,Highest,,,Employed,Deferred

In [6]:
df1.isna().sum()

STUDENT ID                           0
DET_Region                           0
METRO/NON-METRO                      0
EDUCATION SECTOR                     0
LOCAL GOVERNMENT AREA                0
SEX                                  0
STUDY STRAND                         0
SES quartile (student residence)     0
Country_of_birth                     0
LOTE SPOKEN AT HOME                  0
DESTINATION                          0
DESTINATION (including deferrals)    0
dtype: int64

In [7]:
# Output to CSV
df1.to_csv('clean_ontrack_2016.csv')

In [8]:
# Import VCAA dataset
xl = pd.ExcelFile("Senior Secondary Achievement and Completion Information  2012-2017.xlsx")

In [9]:
# Find out available sheets
xl.sheet_names

['Read Me', 'Definitions', '2012', '2013', '2014', '2015', '2016', '2017']

In [10]:
# Parse Data and a bit of clean up
# We are only looking at 2016-2017 for analysis for better match with other datasets
df2 = xl.parse("2017").fillna(0)
df3 = xl.parse("2016").fillna(0)

In [11]:
# Insert years before merging
df2.insert(loc=0, column="Year", value='2017')
df3.insert(loc=0, column="Year", value='2016')

In [12]:
# Rename columns for easier use
df2.rename({'APS School/Provider Name': 'School',
            'Number of VCE studies at unit 3-4 level taken up by students in 2017': 'Number of Unit 3/4 VCE Stubjects Offered',
            'Number of VET certificates with 2017 enrolments': ' Number of VET Subjects Offered',
            'Availability of International Baccalaureate (Diploma)': 'IB Offered',
            'Number of students enrolled in at least one VCE unit at level 3-4 in 2017': 'Number of VCE Enrollments',
            'Number of students enrolled in a VET certificate in 2017': 'Number of VET Enrollments',
            'Number of students enrolled in VCAL in 2017': 'Number of VCAL Enrollments',
            'Percentage of satisfactory VCE completions in 2017': 'VCE Percentage of Sastisfactory Completion',
            'Percentage of VET units of competency completed in 2017': 'VET Percentage of Sastisfactory Completion',
            'Percentage of VCAL units completed in 2017': 'VCAL Percentage of Sastisfactory Completion',
           }, axis=1, inplace=True)
df3.rename({'APS School/Provider Name': 'School',
            'Number of VCE studies at unit 3-4 level taken up by students in 2016': 'Number of Unit 3/4 VCE Stubjects Offered',
            'Number of VET certificates with 2016 enrolments': ' Number of VET Subjects Offered',
            'Availability of International Baccalaureate (Diploma)': 'IB Offered',
            'Number of students enrolled in at least one VCE unit at level 3-4 in 2016': 'Number of VCE Enrollments',
            'Number of students enrolled in a VET certificate in 2016': 'Number of VET Enrollments',
            'Number of students enrolled in VCAL in 2016': 'Number of VCAL Enrollments',
            'Percentage of satisfactory VCE completions in 2016': 'VCE Percentage of Sastisfactory Completion',
            'Percentage of VET units of competency completed in 2016': 'VET Percentage of Sastisfactory Completion',
            'Percentage of VCAL units completed in 2016': 'VCAL Percentage of Sastisfactory Completion',
           }, axis=1, inplace=True)

In [13]:
df = pd.concat([df2, df3], sort=False)

In [14]:
### Clean up data entries
# Small School column, replace '*' with 1 for bool
df.replace('*', 1, inplace=True)

# Results columns, replace '-' with 0
df.replace('-', 0, inplace=True)

# Results columns, replace I/D with 0 (schools that have not enrolled into VCE)
df.replace('I/D', 0, inplace=True)

# Adult column, replace 'A' with 1 for bool
df.replace('A', 1, inplace=True)

# IB column, replace 'Y' with 1 for bool
df.replace('Y', 1, inplace=True)

# Enrollment columns, replace '<4' with 0
df.replace('< 4', 0, inplace=True)

In [15]:
# Drop the adult sector as we are only interesed in high schools
df = df.drop(df.loc[df['Adult School'] == 1].index)

# Furthermore, drop small schools as per warning from the dataset:
# A small school is one with 20 or fewer students enrolled in at least one VCE unit at level 3-4 in 2017. 
# Much care is required in interpreting their results as the overall results might be significantly affected 
# by those of one or two students.
df = df.drop(df.loc[df['Small School'] == 1].index)

# Ignore Median VCE study scores that are 0 (schools that did not offer VCE / students failed VCE)
df = df.loc[df['Median VCE study score'] != 0]

In [16]:
# We can now drop irrelevant columns
df = df.drop(['VCAAcd', 'Adult School', 'Small School'], axis=1)

In [17]:
# Add in selective school to differentiate
selective_schools = ['MELBOURNE HIGH SCHOOL', 'MACROBERTSON GIRLS HIGH SCHOOL', 'NOSSAL HIGH SCHOOL',\
                    'SUZANNE CORY HIGH SCHOOL', 'JOHN MONASH SCIENCE SCHOOL']
df.loc[df.School.isin(selective_schools), 'Sector'] = 'SELECTIVE'

In [18]:
df.dtypes

Year                                                        object
Sector                                                      object
School                                                      object
Locality                                                    object
Number of Unit 3/4 VCE Stubjects Offered                    object
 Number of VET Subjects Offered                             object
IB Offered                                                   int64
Number of VCE Enrollments                                   object
Number of VET Enrollments                                   object
Number of VCAL Enrollments                                  object
Percentage of VCE students applying for tertiary places    float64
VCE Percentage of Sastisfactory Completion                  object
Number of students awarded the VCE (Baccalaureate)          object
VET Percentage of Sastisfactory Completion                  object
VCAL Percentage of Sastisfactory Completion                 object
Median VCE study score                                      object
Percentage of study scores of 40 and over                   object
dtype: object

In [19]:
df[df.columns[4:-4]] = df[df.columns[4:-4]].astype(int)
df[df.columns[-4:]] = df[df.columns[-4:]].astype(float)

In [20]:
df.head()

,Year,Sector,School,Locality,Number of Unit 3/4 VCE Stubjects Offered,Number of VET Subjects Offered,IB Offered,Number of VCE Enrollments,Number of VET Enrollments,Number of VCAL Enrollments,Percentage of VCE students applying for tertiary places,VCE Percentage of Sastisfactory Completion,Number of students awarded the VCE (Baccalaureate),VET Percentage of Sastisfactory Completion,VCAL Percentage of Sastisfactory Completion,Median VCE study score,Percentage of study scores of 40 and over
0,2017,CATHOLIC,ACADEMY OF MARY IMMACULATE,FITZROY,41,6,0,149,17,0,93,96,9,99.0,0.0,31.0,12.4
3,2017,INDEPENDENT,AITKEN COLLEGE,GREENVALE,52,23,0,165,135,22,94,100,6,91.0,100.0,29.0,6.1
4,2017,INDEPENDENT,AL SIRAAT COLLEGE,EPPING,12,2,0,34,48,0,100,100,0,99.0,0.0,25.0,2.2
5,2017,INDEPENDENT,AL-TAQWA COLLEGE,TRUGANINA,27,11,0,177,46,38,92,100,2,93.0,94.0,27.0,3.0
6,2017,GOVERNMENT,ALBERT PARK COLLEGE,ALBERT PARK,50,19,1,248,39,0,91,99,10,84.0,0.0,32.0,12.5

In [21]:
df3.isna().sum()

Year                                                       0
Sector                                                     0
VCAAcd                                                     0
School                                                     0
Adult School                                               0
Small School                                               0
Locality                                                   0
Number of Unit 3/4 VCE Stubjects Offered                   0
 Number of VET Subjects Offered                            0
IB Offered                                                 0
Number of VCE Enrollments                                  0
Number of VET Enrollments                                  0
Number of VCAL Enrollments                                 0
Percentage of VCE students applying for tertiary places    0
VCE Percentage of Sastisfactory Completion                 0
Number of students awarded the VCE (Baccalaureate)         0
VET Percentage of Sastisfactory Completion                 0
VCAL Percentage of Sastisfactory Completion                0
Median VCE study score                                     0
Percentage of study scores of 40 and over                  0
dtype: int64

In [22]:
# Export clean data to csv
df.to_csv("clean_VCAA_data.csv")

Clean up the datasets related to educational funding

In [23]:
# Education contractors
df4 = pd.ExcelFile('dv240-detcontractors2016.xlsx')

In [24]:
df4 = df4.parse('2016 Contractors')

In [25]:
# Fix up formatting columns
df4.columns = df4.iloc[1]
df4 = df4.iloc[2:]

In [26]:
df4.head()

1,Name,Services provided,Cost ($) ex GST
2,139PRIME PTY LTD,Professional Services,26520
3,8T8 TECHNOLOGIES,IT Services,8140
4,A ABRAHAMS + OTHERS,Professional Services,23639
5,A G COOMBS SERVICING PTY LIMITED,"Utilities, Infrastructure/Sustainability, Tran...",2029
6,ABORIGINES ADVANCEMENT LEAGUE,Education and Community Development Services,1098

In [27]:
df4.isna().sum()

1
Name                 0
Services provided    0
Cost ($) ex GST      0
dtype: int64

In [28]:
# Output to CSV
df4.to_csv("clean_contractors_2016-2017.csv")

In [29]:
# Victorian State Government Funding
df5 = pd.ExcelFile('Department-of-Education-and-Training-financial-statements-2017-18.xlsx')

In [30]:
# Parse balance sheet
df5 = df5.parse('bal_sheet')

In [31]:
# Look at the 2016 and 2017 revised/actual budget only to align with other datasets
# Note that values are by the millions
df5.drop(['Unnamed: 2', 'Unnamed: 4'], axis=1, inplace=True)

# Remove incorrectly formatted rows
df5 = df5.iloc[6:-1]

In [32]:
# Renname columns for ease of viewing
df5.columns = ["Year", "2016", "2017"]

In [33]:
# My feel when it doesn't work with normal functions since its a mixed data type
df5['2016'] = df5['2016'].apply(lambda x: x.replace(' ', '') if type(x)==str else x)
df5['2017'] = df5['2017'].apply(lambda x: x.replace(' ', '') if type(x)==str else x)

In [34]:
# Correct formatting and columns
df5 = df5.T
df5.columns = df5.iloc[0]
df5 = df5.iloc[1:]

In [35]:
# Filter out total summaries
df5 = df5.filter(like='Total', axis=1).astype(int)

In [36]:
df5.head()

Year,Total financial assets,Total non-financial assets,Total assets,Total liabilities,Total equity
2016,3316,21999,25315,2234,23080
2017,3255,22494,25749,2498,23251

In [37]:
df5.isna().sum()

Year
Total financial assets        0
Total non-financial assets    0
Total assets                  0
Total liabilities             0
Total equity                  0
dtype: int64

In [38]:
# Output to CSV
df5.to_csv('clean_VSGfunding_data.csv')

Clean up dataset relating to housing rent cost

In [39]:
# Import dataframes
df6 = pd.read_csv('clean_VCAA_data.csv').drop('Unnamed: 0', axis=1)
df7 = pd.ExcelFile('Moving Annual rents by suburb - March quarter 2018.xlsx')

In [40]:
# Availability of sheets
# Has been edited prior to pandas import due to formatting issues
# Columns / Index was aligned, Column names were fixed and dropped years not required
df7.sheet_names

['1 bedroom flat',
 '2 bedroom flat',
 '3 bedroom flat',
 '2 bedroom house',
 '3 bedroom house',
 '4 bedroom house',
 'All properties']

In [41]:
# We only care about the property prices
df7 = df7.parse('All properties')

In [42]:
# Only include data between 2016-2017 to align with other datasets
df7 = pd.concat([df7.filter(like='2016', axis=1), df7.filter(like='2017', axis=1)],\
                axis=1, join_axes=[df7.index])

In [43]:
# Fix up the column name before merging
# Drop the group total as we are interested in each suburb
df7 = df7.reset_index().rename({'index': 'Locality'}, axis=1)
df7.Locality = df7.Locality.str.upper()
df7 = df7.loc[df7.Locality != 'Group Total']

In [44]:
# Caclulate the average / standard deviation of the housing prices between 2016 - 2017
df7.insert(loc=1, column="Average Housing Price", value=df7.mean(axis=1))
df7.insert(loc=2, column="Standard Deviation of Housing Price", value=df7.std(axis=1))

In [45]:
df6.head(2)

,Year,Sector,School,Locality,Number of Unit 3/4 VCE Stubjects Offered,Number of VET Subjects Offered,IB Offered,Number of VCE Enrollments,Number of VET Enrollments,Number of VCAL Enrollments,Percentage of VCE students applying for tertiary places,VCE Percentage of Sastisfactory Completion,Number of students awarded the VCE (Baccalaureate),VET Percentage of Sastisfactory Completion,VCAL Percentage of Sastisfactory Completion,Median VCE study score,Percentage of study scores of 40 and over
0,2017,CATHOLIC,ACADEMY OF MARY IMMACULATE,FITZROY,41,6,0,149,17,0,93,96,9,99.0,0.0,31.0,12.4
1,2017,INDEPENDENT,AITKEN COLLEGE,GREENVALE,52,23,0,165,135,22,94,100,6,91.0,100.0,29.0,6.1

In [46]:
df7.head(2)

,Locality,Average Housing Price,Standard Deviation of Housing Price,Mar 2016,Jun 2016,Sep 2016,Dec 2016,Mar 2017,Jun 2017,Sep 2017,Dec 2017
0,ALBERT PARK-MIDDLE PARK-WEST ST KILDA,521.375,9.393315,520,500,520,520,520,531,530,530
1,ARMADALE,423.750,24.968730,400,400,400,410,420,440,450,470

In [47]:
# Fix up the formatting issues
# Example ALBERT PARK-MIDDLE PARK-WEST ST KILDA becomes ALBERT PARK
# This increases the join on Locality from 70 to 111 which can be seen if you don't run this line
df7.Locality = df7.Locality.apply(lambda x: x.split('-')[0])

In [48]:
# Merge VCAA dataset with Housing prices 
df8 = df6.merge(df7[df7.columns[:3]], on='Locality')

In [49]:
# This should be 111 not 70 if the lambda function works
len(set(df8.Locality))

111

In [50]:
# Ignore any school that did not offer VCE (0 median schools)
df8 = df8.loc[df3['Median VCE study score'] != 0]

In [51]:
print("Size of whole VCAA dataset: %d" % len(df))
print("Size of whole clean VCAA dataset: %d" % len(df6))
print("Size of VCAA and housing area: %d" % len(df8))
print("Percentage of data loss is %.2f%%" % (len(df8)/len(df6) * 100))
# Note that there is quite a loss in rows when merging
# Some are lost due to similar names (ALBERT PARK vs ALBERT PARK-MIDDLE PARK-WEST ST KILDA)
# Others are lost due to not existing in the other dataframe

Size of whole VCAA dataset: 882
Size of whole clean VCAA dataset: 882
Size of VCAA and housing area: 396
Percentage of data loss is 44.90%

In [52]:
df7.isna().sum()

Locality                               0
Average Housing Price                  0
Standard Deviation of Housing Price    0
Mar 2016                               0
Jun 2016                               0
Sep 2016                               0
Dec 2016                               0
Mar 2017                               0
Jun 2017                               0
Sep 2017                               0
Dec 2017                               0
dtype: int64

In [53]:
df8.isna().sum()

Year                                                       0
Sector                                                     0
School                                                     0
Locality                                                   0
Number of Unit 3/4 VCE Stubjects Offered                   0
 Number of VET Subjects Offered                            0
IB Offered                                                 0
Number of VCE Enrollments                                  0
Number of VET Enrollments                                  0
Number of VCAL Enrollments                                 0
Percentage of VCE students applying for tertiary places    0
VCE Percentage of Sastisfactory Completion                 0
Number of students awarded the VCE (Baccalaureate)         0
VET Percentage of Sastisfactory Completion                 0
VCAL Percentage of Sastisfactory Completion                0
Median VCE study score                                     0
Percentage of study scores of 40 and over                  0
Average Housing Price                                      0
Standard Deviation of Housing Price                        0
dtype: int64

In [54]:
# Export cleaned dataframes to csv
df7.to_csv("clean_HousingPrice_data.csv")
df8.to_csv("clean_VCAAandHousingPrice.csv")